.container {
  /* position: absolute; */
  display: flex;
  /* top: 0;
  right: 0; */
  cursor: default;
  /* border: 2px solid #000; */
  /* padding: 5px; */
  max-height: 100vh;
  z-index: 11;
  position: relative;
  border-radius: 0 10px 10px 0;
  /* color: #000; */
}

.cartCont {
  cursor: pointer;
  display: flex;
  margin: 5px 5px 0 0;
}

.cartHdr {
  border: 1px solid #999;
  border-bottom: 0;
  /* width: 100%; */
  padding-right: 20px;
  border-radius: 10px 0 0 0;
}

.cartDetails {
  text-align: center;
  /* background-color: #000;
  color: #fff; */
  /* border: 1px solid #555; */
  display: none;
  position: relative;
}

.showCart {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--background);
}

.close {
  margin-left: 25px;
}

.cartItem {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid #999;
  /* color: #000;
  background-color: #fff; */
  border-bottom: 0;
  width: 330px;
  text-align: left;
}

/* .cartItem:nth-child(odd) {
  background-color: #f6f6f6;
} */

.cartItem:last-child {
  border: 1px solid #999;
}

.itemCnt {
  /* color: #fff; */
  line-height: 0;
  margin-left: 3px;
}

.imgCont {
  margin: 10px 10px 0 0;
  background-color: #fff;
  min-width: 50px;
  padding: 10px;
  background-color: #fff;
}

.details {
  padding: 5px;
  max-width: 170px;
  margin-right: 10px;
  flex-grow: 1;
}

/* .brand {
   text-align: center; 
} */

.sName {
  font-size: 14px;
  height: 18px;
  overflow: hidden; /* TODO */
}

/* .qty {
  font-size: 18px;
} */

.qtyCont {
  display: flex;
  text-align: center;
  border: 1px solid #d3d3d3;
  margin-top: 10px;
}

.qtyCont > * {
  flex-grow: 1;
  font-size: 20px;
}

.qtyCont button {
  filter: var(--filter-invert);
}

.price {
  font-weight: bold;
  font-size: 18px;
}

.total {
  display: flex;
  border-top: 1px solid #d3d3d3;
  padding: 5px;
  /* background-color: #000;
  color: #fff; */
  border: 1px solid #555;
}

.total b:first-child {
  flex-grow: 1;
}

.cartTotal {
  /* color: #fff; */
  margin: auto;
  font-size: 20px;
}

/* cart image show/hide TODO: ?? */
.cartLight {
  display: var(--light-display);
}

.cartDark {
  display: var(--dark-display);
}
