.container {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  cursor: default;
  border: 2px solid #000;
  max-height: 100vh;
  z-index: 11;
  /* overflow-y: auto; */
  color: #000;
}

.cartCont {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.cartHdr {
  display: flex;
  justify-self: center;
  align-items: center;
}

.cartDetails {
  text-align: center;
  background-color: #000;
  color: #fff;
  border: 1px solid #555;
  display: none;
  position: relative;
}

.showCart {
  display: block;
}

.close {
  /* position: absolute;
  right: 10px; */
  /* font-size: 24px; */
  margin-left: 25px;
}

.cartItem {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid #999;
  color: #000;
  background-color: #fff;
  border-bottom: 0;
  width: 330px;
  text-align: left;
}

.cartItem:last-child {
  border: 1px solid #999;
}

.itemCnt {
  color: #fff;
  position: absolute;
  top: -15px;
  right: -10px;
}

.img {
  margin: 10px 10px 0 0;
  /* padding: 5px; */
  background-color: #fff;
}

.details {
  padding: 5px;
  max-width: 170px;
  margin-right: 10px;
  flex-grow: 1;
}

.brand {
  /* text-align: center; */
}

.sName {
  font-size: 14px;
  height: 18px;
  overflow: hidden; /* TODO */
}

.qty {
  /* font-size: 18px; */
}

.qtyCont {
  display: flex;
  text-align: center;
  border: 1px solid #d3d3d3;
  margin-top: 10px;
}

.qtyCont > * {
  flex-grow: 1;
  font-size: 20px;
}

.qtyCont span {
  /* background-color: #000;
  border-radius: 20px;
  color: #fff; */
}

.price {
  font-weight: bold;
  font-size: 18px;
}

.total {
  display: flex;
  border-top: 1px solid #d3d3d3;
  padding: 5px;
  background-color: #000;
  color: #fff;
  border: 1px solid #555;
}

.total b:first-child {
  flex-grow: 1;
}
