.container {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: center;
  gap: 20px; */
  color: #fff;
}

.filters {
  min-width: 170px;
}

/* .filterType{
  display: inline-block;
} */

.results {
  color: #777;
  margin-left: 5px;
  display: inline-block;
  font-size: 14px;
}

/* TODO */
.sortBy {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 5px;
}

.price_current {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
/* 
.addCart {
  position: absolute;
  bottom: 5px;
  padding: 5px 20px;
} */
