.container {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: center;
  gap: 20px; */
  color: #fff;
}

.filters {
  min-width: 170px;
  padding-right: 20px;
}

/* .filterType{
  display: inline-block;
} */

.products {
  position: relative;
  width: 100%;
}

.productsHdr {
  display: flex;
  padding-right: 20px;
  color: #999;
}

.pillsCont {
  border: 1px solid blue;
}

.productsTotal {
  flex-grow: 1;
}

.results {
  color: #777;
  margin-left: 5px;
  display: inline-block;
  font-size: 14px;
}

/* TODO */
.sortBy {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 5px;
}

.price_current {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.pageCont {
  display: flex;
  align-items: center;
  padding: 15px 5px;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.pageCont div:first-child {
  flex-grow: 1;
  text-align: center;
}
/* 
.addCart {
  position: absolute;
  bottom: 5px;
  padding: 5px 20px;
} */
