.container {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: center;
  gap: 20px; */
  color: #fff;
}

.filters {
  min-width: 170px;
}

/* .filterType{
  display: inline-block;
} */

.results {
  color: #777;
  margin-left: 5px;
  display: inline-block;
  font-size: 14px;
}

/* TODO */
.sortBy {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 5px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  width: 170px;
  height: 300px;
  border: 1px solid #850303;
  padding: 10px;
  position: relative;
  background-color: #fff;
  /* color: #000; */
}

.brand {
  color: #000;
}

.item h3 {
  font-size: 16px;
  color: #000;
}

.price {
  font-size: 14px;
  color: #555;
}

.price_current {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.addCart {
  position: absolute;
  bottom: 5px;
  padding: 5px 20px;
}
