.container {
  /* padding-right: 20px; */
}

.container h3 {
  font-size: 18px;
}

.container hr {
  margin: 20px 0;
}

.filterHdr {
  margin-bottom: 10px;
}

.price {
}

.price li {
  margin: 3px 0;
  font-size: 18px;
}

.price label,
.price input {
  cursor: pointer;
  font-size: 16px;
  color: #999;
}

.clear {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #888;
  text-decoration: underline;
  font-size: 0.7rem;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  display: inline-block;
  margin-left: 5px;
}
