/* @import "./FilterToggle.module.css"; */

.container {
  /* padding-right: 20px; */
}

.container h3 {
  font-size: 18px;
}

.container hr {
  margin: 20px 0;
}

.filterHdr {
  margin-bottom: 10px;
}

.price {
}

.price li {
  margin: 3px 0;
  font-size: 18px;
}

.price label,
.price input {
  cursor: pointer;
  font-size: 16px;
}

.clear {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #888;
  text-decoration: underline;
  font-size: 0.7rem;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  display: inline-block;
  margin-left: 5px;
}

/*.price,
 .show,
.hide:target {
  display: none;
}
.hide:target + .show,
.hide:target ~ .price {
  display: block;
}

.down {
  width: 10px;
  height: 10px;
  border-right: 0.2em solid black;
  border-top: 0.2em solid black;
  transform: rotate(135deg);
  width: 10px;
  display: inline-block;
} */
