.container {
}

.category {
}

.category li {
  margin: 3px 0;
  font-size: 18px;
}

.category label,
.category input {
  cursor: pointer;
}

.clear {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #888;
  text-decoration: underline;
  font-size: 0.7rem;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  display: inline-block;
  margin-left: 5px;
}
