.container hr {
  margin: 20px 0;
}

.container h3 {
  font-size: 18px;
}

.filterHdr {
  margin-bottom: 10px;
}

.inputCont {
  position: relative;
}

.inputCont input {
  padding: 5px;
}

.clearInput {
  position: absolute;
  right: 5px;
  cursor: pointer;
  color: #000;
  top: 0px;
}
