.container {
  /* padding-right: 20px; */
}

.container hr {
  margin: 20px 0;
}

.container h3 {
  font-size: 18px;
}

.filterHdr {
  margin-bottom: 10px;
}

.category {
}

.category li {
  margin: 3px 0;
  font-size: 18px;
}

.category label,
.category input {
  cursor: pointer;
  font-size: 16px;
}
