.header {
  /* position: fixed; */
  width: 100%;
  max-width: 1400px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px;
  z-index: 3;
}

.headerRow {
  display: flex;
}

.hdr {
  flex-grow: 1;
  font-size: 2.7rem;
  margin: 15px 0;
}

.logo {
  margin: 5px 0 0px 15px;
}

.cartCont {
  position: relative;
  display: inline-block;
}

.userCont {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.user {
  margin-right: 10px;
}

.userCircle {
  color: #fff;
  background-color: #000;
  padding: 4px 9px;
  border-radius: 30px;
  display: inline-block;
}

@media screen and (max-width: 1250px) {
  .hdr {
    font-size: 2rem;
    margin: 15px 0 0;
    line-height: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .hdr {
    display: none;
  }

  .logo {
    margin: 5px 0 0px 5px;
  }
}
