.container {
  padding: 20px;
  /*  display: flex;
  justify-content: space-around; */
  /* border: 1px solid green; */
}

.container > div {
  margin-bottom: 20px;
}

/* HOME BANNER */
.homeBannerContainer {
  /* background-image: url(./img/bg/banner.webp); */
  position: relative;
}

.homeBannerContainer .hero {
  max-width: 1400px;
  max-height: 420px;
  position: relative;
}

.homeBannerContainer img {
  width: 100%;
  height: 100%;
}

.homeBannerContainer .blurb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

.homeBannerContainer .blurb h3 {
  text-align: center;
  font-size: 42px;
  color: white; /* Text color */
  -webkit-text-stroke-width: 2px; /* Outline width */
  -webkit-text-stroke-color: var(--spirits-red); /* Outline color */
  /* -webkit-text-stroke-color: #555;  */
  /* Also include the standard property if it gains more support */
  text-stroke: 2px black;
}
