.product50h {
  position: relative;
  height: 50px;
}

.product80h {
  position: relative;
  height: 80px;
}
.product100h {
  position: relative;
  height: 100px;
}

.product130h {
  position: relative;
  height: 130px;
}

.product160h {
  position: relative;
  height: 160px;
}

.productMain {
  position: relative;
  height: 520px;
}

.logo {
  position: relative;
  height: 60px;
  width: 90px;
}

.payment {
  position: relative;
  height: 32px;
  width: 256px;
}

.sixBot {
  /* position: relative;
  height: 160px; */
}

@media screen and (max-width: 600px) {
  .productMain {
    height: 330px;
  }
}
