.itemsPerPage {
  display: inline-block;
  padding: 10px;
  border: 1px solid #000;
}

.selected {
  color: #fff;
  background-color: #000;
}

.itemsPerPage:hover {
  color: #fff;
  background-color: #555;
}
