.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  width: 170px;
  height: 300px;
  border: 1px solid #850303;
  padding: 10px;
  position: relative;
  background-color: #fff;
  /* color: #000; */
}

.brand {
  color: #000;
}

.item h3 {
  font-size: 16px;
  color: #000;
  height: 42px;
  overflow: hidden; /* TODO; */
}

.price {
  font-size: 14px;
  color: #555;
}

.similar {
  height: 330px;
  overflow: hidden;
}
