.container {
  /* padding: 20px; */
  border: 1px solid red;
}

.product {
  display: flex;
  background-color: #fff;
  color: #000;
  position: relative;
}

.imgCont {
  flex: 0 0 25%;
  text-align: right;
  margin: 5px 0px 0 0;
  position: relative;
  min-height: 520px;
  padding: 0 20px;
}

.details {
  display: inline-block;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding-left: 80px;
  position: relative;
}

.hdr {
  font-size: 64px;
  color: rgb(133, 3, 3);
  /* margin-bottom: 10px; */
}

.name {
  font-size: 40px;
  margin-bottom: 5px;
}

.desc {
  font-size: 20px;
  margin-bottom: 20px;
}

.star {
  display: inline-block;
  margin-right: 2px;
  width: 20px;
  height: 20px;
  background: rgb(133, 3, 3);
  /* Creates a 5-pointed star shape using clip-path */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
