.sale3Cont {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #000;
}

.item {
  display: flex;
  font-size: 20px;
  padding: 20px;
  border: 1px solid #000;
  width: 40%;
  /* background-color: #000; */
  text-align: center;
  margin-bottom: 15px;
  background: #888;
  background: linear-gradient(
    90deg,
    rgba(136, 136, 136, 1) 0%,
    rgba(255, 255, 255, 1) 35%
  );
}

.details {
  text-align: left;
  width: 50%;
}

.item > div {
  padding: 5px;
}

.hdr {
  font-weight: bold;
  font-size: 28px;
  /* text-align: left; */
}

.shop {
  padding: 5px 10px;
  background-color: var(--spirits-red);
  color: #fff;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #000;
}

.products,
.product {
  display: flex;
  background-color: #fff;
  flex-grow: 1;
}

.products {
  /* display: flex; */
}

.price {
  font-weight: bold;
  font-size: 18px;
}

.price span {
  font-size: 12px;
  vertical-align: top;
}

.product {
  flex-direction: column;
  padding: 5px;
}

/* .product img {
  filter: invert(100%);
} */
