.toggle {
  display: none;
  position: relative;
}

.toggle + label .small {
  font-size: 0.8em;
  color: #999;
  line-height: 1.5em;
  display: block;
}

.toggle + label {
  display: block;
  padding: 10px 0;
}

.toggle + label span.sw {
  display: inline-block;
  width: 35px;
  height: 13px;
  border-radius: 11px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  border: 2px solid #333;
  transition: all ease 300ms;
}

.toggle + label span.sw:before {
  content: "";
  position: absolute;
  background-color: var(--spirits-red);
  margin-top: 1px;
  margin-left: 3px;
  height: 11px;
  width: 11px;
  border-radius: 15px;
  transition: all ease 300ms;
}

.toggle:checked + label span.sw {
  background-color: var(--spirits-red);
  border-color: #999;
}

.toggle:checked + label span:before {
  margin-left: 23px;
  background-color: #fff;
}
