body {
  /* background: linear-gradient(to bottom, #999, #000, #999); */
  --spirits-text: #000;

  /* height: 100vh; */
}

.main {
  background-color: #fff;
  /* max-width: 750px; */
  margin: 0 auto;
  padding: 20px;
}

.product {
  padding: 20px;
  background-color: #fff;
}

.hdr {
  padding: 15px;
  background-color: #000;
  color: #777;
  text-transform: capitalize;
}
