body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #f0eded;
}

a {
  text-decoration: none;
  color: #850303;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  padding: 0;
}

article {
  /* padding-top: 20px; */
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  /* color: #fff; */
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #850303;
  color: #fff;
  padding: 5px;
}
