.light {
  --filter-text: #333;
  --button-border: #5e4b56;
  --background: #fff;
  --light-text: #fff;
  --spirits-text: #6b1818;
  --light-display: block;
  --dark-display: none;
  --filter-invert: invert(0%);
}

.dark {
  --filter-text: #999;
  --button-border: #b8dbd9;
  --background: #000;
  --light-text: #fff;
  --spirits-text: #888;
  --light-display: none;
  --dark-display: block;
  --filter-invert: invert(100%);
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--spirits-text);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  padding: 0;
}

article {
  /* padding-top: 20px; */
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h3 {
  color: var(--spirits-text);
  margin-bottom: 10px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
